{% extends 'base.html' %} 

{% import 'bootstrap/wtf.html' as wtf %}
<body>

    {% block content %}
<div class="container-fluid" >
<div class="container-fluid" style="color: rgb(243, 200, 9);" >
    <div class="row">
        <h1> {{title}} </h1>
        <div class="col-md-6" style="color:black;" >
            {{wtf.quick_form(booking_form)}}



        </div>
        <div class="col-md-6">
            {% for booking in bookings %}
            <h2>Booking</h2>
            <p> {{booking.email}} </p>
            <p> {{booking.title}} </p>
            <p> {{booking.day}} </p>
            <p> {{booking.session}} </p>
            <p> {{booking.category}} </p>
            {% endfor %}
        </div>
    </div>
  </div>
</div>

{% endblock %}
    
</body>
