<div class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="color: pink;" href="/"> RF STUDIO </a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a class="fa fa-home fa-lg" href="/">Home</a></span></li>

          {% if current_user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link fa fa-user" href="/profile">PROFILE</a>
          </li>

          <li class="nav-item">
            <a class="nav-link fa fa-clock-o" href="/profile">BOOK A SESSION</a>
          </li>


          <li class="nav-item">
            <a class="nav-link fa fa-sign-out" href="/auth/logout">Sign Out</a>
          </li>

          {% else %}

          <li class="nav-item">              
            <a class="nav-link fa fa-sign-in" href="/auth/login">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link fa fa-registered" href="/auth/register">Sign Up</a>
          </li>
          {% endif %}

        </ul>
      

      </div>

  </div>
</div>

